   <%= render "shared/navbar" %>
<h1><%= @garden.name %></h1>

<h2><%= @garden.address %></h2>

<h3><%= @garden.length %>mètre x <%= @garden.width %>mètre</h3>

<h4>Surface : <%= @garden.length*@garden.width %>Nombre de m²</h4>

<p>Tu as <%= @garden.compartments.count %> carrés de jardin à cultiver</p>
