    <div class="flex-item">
      <div class="card-veg d-flex justify-content-between">
        <div class="d-flex">
          <% if veg.photo.key %>
            <%= cl_image_tag(veg.photo.key, width: 80, height: 80) %>
          <% end %>
          <div class="card-veg-infos">
            <h2><%= link_to "#{veg.name}", vegetable_path(veg.id) %></h2>
            <p class="card-info-bold"><%= veg.variety %></p>
            <p class="card-info-light"><%= veg.min_temp %>°C - <%= veg.max_temp %>°C </p>
            <%# <p class="card-info-light"><%= veg.max_temp %></p>
          </div>
        </div>
        <p class="d-none"><%= text_field_tag :query, params[:query] %></p>
        <div class="card-veg-infos d-flex card-select">
          <button class="select-button" style="height: 2rem; width: 2rem;">+</button>
        </div>
      </div>
    </div>
