    <div class="flex-item">
      <div class="card-veg d-flex justify-content-between">
        <div class="d-flex">
          <% if veg.photo.key %>
            <%= cl_image_tag(veg.photo.key, width: 120, height: 120) %>
          <% end %>
          <div class="card-veg-infos">
            <h2> <%= link_to "#{veg.name}", vegetable_path(veg.id) %></h2>
            <p class="card-info-bold"><%= veg.variety %></p>
            <p class="card-info-light"><%= veg.min_temp %></p>
            <p class="card-info-light"><%= veg.max_temp %></p>
          </div>
        </div>
        <div class="card-veg-infos d-flex">
          <div>
            <p class="card-price"> toto</p>
          </div>
        </div>
      </div>
    </div>
