  <div class="container">
    <div class="col col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form-vegetable">
        <div class="card-trip">

          <div class="row">
            <div class="row justify-content-center">
              <h2 class="text-center"><strong><%=@vegetable.name %></strong></h2>
            </div>
          </div>

            <div class="row mt-3">
              <div class="col-4">
                <% if @vegetable.photo.attached? %>
                  <%= cl_image_tag(@vegetable.photo.key, width: 100, height: 100, crop: :fill) %>
                <% end %>
              </div>
              <div class="col-8">
                <p><strong>Famille</strong> : <%= @vegetable.variety %></p>
                <p><strong>Emprise au sol</strong> : <%= @vegetable.footprint %> m²</p>
              </div>

              <div class="row mt-3 display-flex">
                <p><strong>Description</strong> : <%= @vegetable.description %></p>
              </div>

            <div class="row">
                <%= link_to "Retour au jardin", garden_path(), class: "myButtondb" %>
              </div>
            </div>

        </div>
      </div>
    </div>





        </div>
  </div>
