   <%= render "shared/navbar" %>
<div class="container">

  <h1 class="fw-bold"><%= @garden.name %></h1>

  <p>your garden's implantation:</p>

    <% @implantation.each_with_index do |compartment, index| %>
      <ul>
        <li>
          <%= "compartment n°#{index+1}"%>
          <%compartment.each do |veggie| %>
            <% if veggie.to_s != "" %>
              <% vegetable = Vegetable.find_by(name: veggie)  %>
              <ul>
                <li>
                  <%= veggie %>
                  <%= link_to "#{vegetable.name}", vegetable_path(vegetable.id) %>
                </li>

              </ul>
            <% end %>
          <% end %>
        </li>
      </ul>
    <% end %>

  <%= button_to "Validate", validate_garden_path(@garden), method: :post, params: {implantation: @implantation, counter: params["counter"]} %>

</div>
