<% available_veggie = [] %>

<%= render "shared/navbar" %>

<div class="container" data-controller="choose-veggie">

<div class="cards-garden">
  <h1 class="fw-bold"><%= @garden.name %></h1>
  <p>Surface : <%= ( @garden.length * @garden.width ).truncate %> m²</p>
  <p>Température moyenne : <%= @garden.mean_temperature %> °C</p>
</div>

  <p>Voici la liste des légumes adaptés à votre climat. Choisissez vos <%= @garden.compartments.count %> légumes favoris :</p>
  <div class="cards-vege">
    <% @suitable_vegetables.each do |veg| %>
      <div class="flex-item">
        <div class="card-veg d-flex justify-content-between">
          <div class="d-flex">
            <% if veg.photo.key %>
              <%= cl_image_tag(veg.photo.key, width: 80, height: 80) %>
            <% end %>
            <div class="card-veg-infos">
              <h2><%= link_to "#{veg.name}", vegetable_path(veg.id) %></h2>
              <p class="card-info-bold"><%= veg.variety %></p>
              <p class="card-info-light"><%= veg.min_temp %>°C - <%= veg.max_temp %>°C </p>
              <%# <p class="card-info-light"><%= veg.max_temp %></p>
            </div>
          </div>
          <div class="card-veg-infos d-flex card-select">
            <button data-action="click->choose-veggie#removeVegetable" data-id=<%= veg.id %> class="select-button" style="height: 2rem; width: 2rem;">-</button>
            <span style="text-center color: black; style=height: 2rem; width: 2rem;" id="counter_<%= veg.id %>">0</span>
            <button data-action="click->choose-veggie#addVegetable" data-id=<%= veg.id %> class="select-button" style="height: 2rem; width: 2rem;">+</button>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="justify-content-center">
    <%= form_with url: implant_path(@garden), class: "container text-center"  do |form|%>
      <%= form.hidden_field :array_of_veggie, data: { choose_veggie_target: "field"} %>
      <%= form.submit "Suivant", class: "myButton"  %>
    <% end %>
  </div>
</div>
