<% available_veggie = [] %>
   <%= render "shared/navbar" %>
<div class="container">

  <h1 class="fw-bold"><%= @garden.name %></h1>
  <h3 class="fw-lighter fst-italic fs-6" >Area : <%= @garden.length*@garden.width %> square meters</h3>
  <h3 class="fw-lighter fst-italic fs-6" >Average temperature : <%= @garden.mean_temperature %> °C</h3>

  <%# Compartments to be filled by user %>
  <p>You have <%= @garden.compartments.count %> compartments available</p>
  <div class="container text-center">
    <div class="row row-cols-2">
      <% i = 0 %>
      <% while i < @garden.compartments.count %>
        <div id="veg<%= i+1 %>" class="col card m-2" style="width: 5rem; height: 5rem"></div>
        <% i += 1 %>
      <% end %>
    </div>
  </div>

  <%# List of choosable vegetables %>
  <p>Here's the list of what you can plant. Please select your <%= @garden.compartments.count %> favourite vegetables in the list.</p>
  <div class="justify-content-center">
    <% @suitable_vegetables.each do |veg| %>
      <p><%= render partial: "shared/cardveg", locals: { veg: veg } %></p>
    <% end %>
    <%= form_with url: implant_path(@garden), class: "container text-center"  do |form|%>
      <%= form.submit "Next", class: "myButton"  %>
    <% end %>
  </div>

  <ul>
    <% @suitable_vegetables.each do |vegetable| %>
      <li><%= vegetable.name %></li>
      <% available_veggie << vegetable.name%>
    <% end %>
  </ul>

<%#  ######BELOW IS THE FORM TO SELECT THE VEGGIES#####
     -- Keys are in the string format
     -- Can't figure out how to make them symbols ?    %>

  <%= form_with url: implant_path(@garden) do |form| %>
    <% i = 0 %>
    <% while i < @garden.compartments.count %>
      <% veggie = "vegetable#{i + 1}" %>
      <%= form.select veggie, available_veggie %>
      <% i += 1 %>
    <% end %>
    <%= form.submit "Next" %>
  <% end %>

</div>
