<div class="container">
  <div class="row">
    <h1 class="text-center mt-4"><strong><%= @garden.name %></strong></h1>
    <div class="col col-xs-12 col-sm-4 col-sm-offset-4" style="margin-top: 20px;">
      <p><strong>Dimensions:</strong> <%= @garden.length %>m x <%= @garden.width %>m</p>
      <p><strong>Surface:</strong> <%= @garden.length * @garden.width %>m²</p>
      <p><strong>Adresse:</strong> <%= @garden.location %></p>
    </div>
    <h3 class="text-center mt-4" style="margin-bottom: -30px;"><strong>Votre plan final</strong></h3>
  </div>
</div>

<div class="plan" style="background-image: url('<%= asset_path('grass2.jpg') %>')">
  <% @garden.compartments.each_with_index do |comp, c| %>
    <div class="compartment" style="background-image: url('<%= asset_path('terre.jpg') %>');">
      <% comp.implantations.each do |imp| %>
        <% if imp.quantity > 0 %>
          <%= link_to vegetable_path(imp.vegetable.id) do %>
            <div class="implantation">
              <span style="color: white"><%= imp.quantity %></span>
              <img src="<%= image_path("#{imp.vegetable.name}.svg") %>" width="25" height="25" alt="<%= imp.vegetable.name %>" style="filter: brightness(0) invert(1);">
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<%= render "shared/navbar" %>
