<div class="container">

  <h1 class="fs-1"><%= @garden.name %></h1>
  <p>Dimensions: <%= @garden.length %>m x <%= @garden.width %>m </p>
  <p>Area: <%= @garden.length*@garden.width %>m²</p>
  <p>location: <%= @garden.location %></p>
  <p>mean temperature: <%= @garden.mean_temperature %></p>

<%# show garden infos ... %>
<h2>Your garden's layout :</h2>

<ol>

<% @garden.compartments.each_with_index do |comp, c| %>
  <div class="container mb-3">
    <li><p>Compartment no <%= c + 1 %></p></li>
    <ul>
    <% comp.implantations.each do |imp|  %>
      <li> <%= imp.vegetable.name %> : <%= imp.quantity %> </li>
    <% end %>
    </ul>
  </div>
  <% end %>
</ol>
