   <%= render "shared/navbar" %>

<div class="container">
   <div class="row">
    <div class="col col-xs-12 col-sm-4 col-sm-offset-4">
  <h1 class="fs-1"><%= @garden.name %></h1>
  <p>Dimensions: <%= @garden.length %>m x <%= @garden.width %>m </p>
  <p>Area: <%= @garden.length*@garden.width %>m²</p>
  <p>location: <%= @garden.location %></p>
  <p>mean temperature: <%= @garden.mean_temperature %></p>


<%# show garden infos ... %>
<%= cl_image_path @vegetable.photo.key, height: 300, crop: :fill %>

<div style="width: 50%; height: 100px;" class="text-bg-success p-9">
<p>Garden map coming soon...</p>

</div>
<h2>Your garden's layout :</h2>

<ol>

<% @garden.compartments.each_with_index do |comp, c| %>
  <div class="container mb-3">
    <li><p>Compartment no <%= c + 1 %></p></li>
    <ul>
    <% comp.implantations.each do |imp|  %>
      <li> <%= link_to "#{imp.vegetable.name}", vegetable_path(imp.vegetable.id) %> : <%= imp.quantity %></li>

    <% end %>
    </ul>
  </div>
  <% end %>
</ol>
