<%= render "shared/gardencard", :locals => { :garden => @garden } %>

<div class="plan" style="background-image: url('<%= asset_path('grass2.jpg') %>')">
  <% @garden.compartments.each_with_index do |comp, c| %>
    <div class="compartment" style="background-image: url('<%= asset_path('terre.jpg') %>');">
      <% comp.implantations.each do |imp| %>
        <% if imp.quantity > 0 %>
          <%= link_to vegetable_path(imp.vegetable.id) do %>
            <div class="implantation">
              <span style="color: white"><%= imp.quantity %></span>
              <img src="<%= image_path("#{imp.vegetable.name}.svg") %>" width="25" height="25" alt="<%= imp.vegetable.name %>" style="filter: brightness(0) invert(1);">
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>

<%= render "shared/navbar" %>
